@page "/"
@inherits IndexBase
@using Blazored.Typeahead.Forms
@using Soccer.Contracts.Models;
@using Blazored.Typeahead

<div class="row">
    <div class="col-md-2">
        <EditForm Model="@Team1FormModel">
            <BlazoredTypeahead SearchMethod="@SearchTeams"
                               @bind-Value="@Team1FormModel.Team"
                               Placeholder="Team 1"
                               Debounce="500">
                <SelectedTemplate Context="team">
                    @team.Name
                </SelectedTemplate>
                <ResultTemplate Context="team">
                    @team.Name
                </ResultTemplate>
                <NotFoundTemplate>
                   No Teams found
                </NotFoundTemplate>
            </BlazoredTypeahead>
            <ValidationMessage For="@(() => Team1FormModel.Team)" />
        </EditForm>
    </div>

    <div class="col-md-2">
        <EditForm Model="@Team2FormModel">
            <BlazoredTypeahead SearchMethod="@SearchTeams"
                               @bind-Value="@Team2FormModel.Team"
                               Placeholder="Team 2"
                               Debounce="500">
                <SelectedTemplate Context="team">
                    @team.Name
                </SelectedTemplate>
                <ResultTemplate Context="team">
                    @team.Name
                </ResultTemplate>
                <NotFoundTemplate>
                    Sorry, there weren't any search results.
                </NotFoundTemplate>
            </BlazoredTypeahead>
            <ValidationMessage For="@(() => Team2FormModel.Team)" />
        </EditForm>
    </div>

    <div class="col-md-2">
        <MatButton Disabled="!CanSearch" Outlined="true" Icon="@MatIconNames.Search" OnClick="@(()=>GetStats(Team1FormModel.Team.Name, Team2FormModel.Team.Name))">Get Stats</MatButton>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (ShowStats)
        {

            @if (WinningStats != null)
            {
                <h1>Overall Winning Stats</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Team</th>
                            <th>Wins</th>
                            <th>Plays</th>
                            <th>% Wins</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var stat in WinningStats)
                        {
                            <tr>
                                <td>
                                    @stat.TeamName
                                </td>
                                <td>
                                    @stat.NoOfWins
                                </td>
                                <td>
                                    @stat.NoOfGames
                                </td>
                                <td>
                                    @string.Format("{0:f2} %", (double)stat.NoOfWins / stat.NoOfGames * 100)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <hr />
            }


            if (Summary.Any())
            {

                <h1>Teams Match Summary</h1>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            @foreach (var key in Summary.Keys)
                            {
                                <th>@string.Format("{0}", key.Equals("D") ? "Draw" : key)</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var value in Summary.Values)
                            {
                                <td>
                                    @value
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>

                <hr />
            }

            if (Stats.Any())
            {
                <h1>Matches</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Home Team</th>
                            <th>Away Team</th>
                            <th>Winner</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Stats)
                        {
                            <tr>
                                <td>@string.Format("{0} ({1})", item.HomeTeam, item.FTHG)</td>
                                <td>@string.Format("{0} ({1})", item.AwayTeam, item.FTAG)</td>
                                <td>@item.Winner</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }


        }
        else if (isLoadingStats)
        {
            <h1>Loading...</h1>
        }

        @if (NoStats)
        {
            <div class="alert alert-primary" role="alert">
                No Matches found for teams
            </div>
        }
    </div>
</div>
